---
import Layout from '../layouts/Layout.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import UnderConstructionProjects from '../components/UnderConstructionProjects.astro';
---

<Layout title="شركة الايمان للتطوير العقاري">
	<div class="hero">
		<div class="hero-content">
			<h1 class="main-title">الجودة تلتقي بالابتكار في قلب صعيد مصر</h1>
			<p class="subtitle">نحن لا نبني العقارات فقط، بل نبني ثقة تدوم</p>
			<a href="/projects" class="cta-button">اكتشف مشاريعنا</a>
		</div>
	</div>
	<ProjectsSection />
	<UnderConstructionProjects />
</Layout>

<style>
	.hero {
		position: relative;
		height: 70vh;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 4rem 2rem;
	}

	.hero-content {
		position: relative;
		z-index: 2;
	}

	.main-title {
		font-size: 4.5rem;
		font-weight: 900;
		margin-bottom: 1rem;
		color: rgb(var(--primary));
	}

	.subtitle {
		font-size: 1.8rem;
		margin-bottom: 2rem;
		color: rgb(var(--primary));
		opacity: 0.8;
	}

	.cta-button {
		background-color: rgb(var(--accent));
		color: rgb(var(--primary));
		padding: 1rem 2rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: bold;
	}

	.cta-button:hover {
		background-color: rgb(var(--accent-dark));
	}

  @media (max-width: 768px) {
    .hero {
      height: auto;
      min-height: 50vh;
    }
    
    .main-title {
      font-size: 3rem;
    }
    
    .subtitle {
      font-size: 1.3rem;
    }

		.cta-button {
			padding: 0.8rem 1.5rem;
			font-size: 1rem;
		}
  }
</style>
