---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="شركة الايمان للتطوير العقاري، رائدة في صعيد مصر" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap" rel="stylesheet">

	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--primary: 10 46 92;
		--primary-rgb: 10, 46, 92;
		--secondary: 240 242 245; 
		--accent: 255 204 0;
		--accent-dark: 230 184 0;
		--text-light: 240 242 245;
		--text-dark: 10 20 30;
	}

	html {
		font-family: 'Cairo', sans-serif;
		background-color: #F0F2F5; /* Fallback */
		scroll-behavior: smooth;
	}

	body {
		margin: 0;
		background-color: rgb(var(--secondary));
		color: rgb(var(--text-dark));
	}

	a {
		color: rgb(var(--accent));
		text-decoration: none;
	}
</style>